[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	name = xie wei
[user]
	email = jxiewei@gmail.com

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[push]
	default = simple
